*.pyc
*.log
*.out
*__init__.py
/.idea/*
/src/docs/*
/vhdl_sejits.sublime-project
/vhdl_sejits.sublime-workspace
/src/docs/*
/src/vivado/MINIMAL_DMA_1.0/*
/src/vivado/MINIMAL_DMA_CONTROL_1.0/*
/src/vivado/template_project/*
/images/*