[Logging]
logging_folder = /logs
disable_logging = False

[Debugging]
debugging_folder = /debug

[Paths]
vivado_proj_path = /hw/vivado/template_project/
bitfile_path = /hw/bitfiles/
basic_block_path = /hw/user/
logging_path = /logging/

[Driver]
dma_driver_path = /hw/driver/
dam_driver_module = dma_driver.ko

[HwInterface]
hw_intfc_path = /hw/hw_intfc/
hw_intfc_module = libHwIntfc.so

[Dma]
dma_chunk_size = 512

[Automation]
user = linaro
host = 127.0.0.1
host_v_proj_path =
script_path =